.no-border {
    border: none;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
}

.toasted-container.top-center {
    top: 30px !important;
}
  
.toasted.default {
    color: #fff;
    padding: 0.5rem 1rem;
    background: $primary;
    border-radius: 5px;
}

.toasted.success {
    color: #fff;
    padding: 0.5rem 1rem;
    background: $success;
    border-radius: 5px;
}

.toasted.error {
    color: #fff;
    padding: 0.5rem 1rem;
    background: $danger;
    border-radius: 5px;
}